@charset "UTF 8";

*{
    padding: 0PX;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div#celular{
    background-color: aqua;
    width: 100px;
    height: 150px;
    position: relative;
    left: 50%;

}